html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background: transparent;
}
a:active,
a:focus,
a:hover {
     outline: none;
     outline-offset: 0;
     text-decoration: none;
 }
abbr[title] { border-bottom: 1px dotted; }
b,
strong {
    font-weight: bold;
}
dfn { font-style: italic; }
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small { font-size: 80%; }
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0px; }
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre { overflow: auto; }
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button { overflow: visible;}
button,
select {
    text-transform: none;
}
button,
html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
     border: 0;
     padding: 0;
 }
input {
    line-height: normal;
}
input[type="reset"],
input[type="submit"] {
     -webkit-appearance: button;
     cursor: pointer;
 }
input[type="checkbox"],
input[type="radio"] {
     box-sizing: border-box;
     padding: 0;
 }
input[type="search"] {
     -webkit-appearance: textfield;
     -moz-box-sizing: content-box;
     -webkit-box-sizing: content-box;
     box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
     -webkit-appearance: none;
 }
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}


/* Main Block */
.mainContainer{
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}
.mainContainer > div:first-child{
    width: 150px;
    float: left;
}
.mainContainer > div:first-child+div{
    width: 475px;
    float: left;
    margin-left: 30px;
}

#notesContainer{
    background: #d7f4de;
    border: 2px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 110px;
    padding: 20px;
    overflow: hidden;
}
.notesItem{
    float: left;
    width: 28px;
    height: 28px;
    padding-right: 13px;
    padding-bottom: 12px;
    text-align: center;
    line-height: 28px;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.notesItem.active span{
    background-color: #b3b3ff;
}
.notesItem:nth-child(3n){
    padding-right: 0;
}
.notesItem span,
#notesAll span,
#notesDel span{
    display: inline-block;
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font: bold 16px/24px Arial;
    background-color: #fff;
    width: 24px;
    height: 24px;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.notesItem span:hover,
#notesAll span:hover,
#notesDel span:hover{
    width: 28px;
    height: 28px;
    border-radius: 13px;
    cursor: pointer;
    font: bold 19px/28px Arial;
}
#notesAll,
#notesDel{
    float: left;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
}
#notesAll{
    margin-right: 54px;
}




.firstBtnBox,
.secondBtnBox,
.thirdBtnBox{
    margin-top: 15px;
    width: 100%;
}
.firstBtnBox button,
.secondBtnBox button,
.thirdBtnBox button{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font: bold 11px Arial;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.firstBtnBox button span,
.secondBtnBox button span,
.thirdBtnBox button span{
    display: block;
    padding-left: 30px;
    background-position: center left;
    background-repeat: no-repeat;
}
.firstBtnBox button{
    -moz-box-shadow: inset 0px 3px 3px 0px #c0ebca;
    -webkit-box-shadow: inset 0px 3px 3px 0px #c0ebca;
    box-shadow: inset 0px 3px 3px 0px #c0ebca;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #24b844), color-stop(1, #125d23));
    background: -moz-linear-gradient(top, #24b844 5%, #125d23 100%);
    background: -webkit-linear-gradient(top, #24b844 5%, #125d23 100%);
    background: -o-linear-gradient(top, #24b844 5%, #125d23 100%);
    background: -ms-linear-gradient(top, #24b844 5%, #125d23 100%);
    background: linear-gradient(to bottom, #24b844 5%, #125d23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24b844', endColorstr='#125d23',GradientType=0);
    background-color: #24b844;

}
.firstBtnBox button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #125d23), color-stop(1, #24b844));
    background:-moz-linear-gradient(top, #125d23 5%, #24b844 100%);
    background:-webkit-linear-gradient(top, #125d23 5%, #24b844 100%);
    background:-o-linear-gradient(top, #125d23 5%, #24b844 100%);
    background:-ms-linear-gradient(top, #125d23 5%, #24b844 100%);
    background:linear-gradient(to bottom, #125d23 5%, #24b844 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#125d23', endColorstr='#24b844',GradientType=0);
    background-color:#125d23;
}
.secondBtnBox button{
    -moz-box-shadow: inset 0px 3px 3px 0px #caf0f8;
    -webkit-box-shadow: inset 0px 3px 3px 0px #caf0f8;
    box-shadow: inset 0px 3px 3px 0px #caf0f8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #01b7de), color-stop(1, #0093b2));
    background: -moz-linear-gradient(top, #01b7de 5%, #0093b2 100%);
    background: -webkit-linear-gradient(top, #01b7de 5%, #0093b2 100%);
    background: -o-linear-gradient(top, #01b7de 5%, #0093b2 100%);
    background: -ms-linear-gradient(top, #01b7de 5%, #0093b2 100%);
    background: linear-gradient(to bottom, #01b7de 5%, #0093b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01b7de', endColorstr='#0093b2',GradientType=0);
    background-color: #01b7de;

}
.secondBtnBox button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0093b2), color-stop(1, #01b7de));
    background:-moz-linear-gradient(top, #0093b2 5%, #01b7de 100%);
    background:-webkit-linear-gradient(top, #0093b2 5%, #01b7de 100%);
    background:-o-linear-gradient(top, #0093b2 5%, #01b7de 100%);
    background:-ms-linear-gradient(top, #0093b2 5%, #01b7de 100%);
    background:linear-gradient(to bottom, #0093b2 5%, #01b7de 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0093b2', endColorstr='#01b7de',GradientType=0);
    background-color:#0093b2;
}
.thirdBtnBox button{
    -moz-box-shadow: inset 0px 3px 3px 0px #b6d3f2;
    -webkit-box-shadow: inset 0px 3px 3px 0px #b6d3f2;
    box-shadow: inset 0px 3px 3px 0px #b6d3f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0065d1), color-stop(1, #0051a8));
    background: -moz-linear-gradient(top, #0065d1 5%, #0051a8 100%);
    background: -webkit-linear-gradient(top, #0065d1 5%, #0051a8 100%);
    background: -o-linear-gradient(top, #0065d1 5%, #0051a8 100%);
    background: -ms-linear-gradient(top, #0065d1 5%, #0051a8 100%);
    background: linear-gradient(to bottom, #0065d1 5%, #0051a8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0065d1', endColorstr='#0051a8',GradientType=0);
    background-color: #0065d1;

}
.thirdBtnBox button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0051a8), color-stop(1, #0065d1));
    background:-moz-linear-gradient(top, #0051a8 5%, #0065d1 100%);
    background:-webkit-linear-gradient(top, #0051a8 5%, #0065d1 100%);
    background:-o-linear-gradient(top, #0051a8 5%, #0065d1 100%);
    background:-ms-linear-gradient(top, #0051a8 5%, #0065d1 100%);
    background:linear-gradient(to bottom, #0051a8 5%, #0065d1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0051a8', endColorstr='#0065d1',GradientType=0);
    background-color:#0051a8;
}
#btnSolve span{
    background-image: url('./public/img/icn_solve-another.png');
}
#btnResumeSaved span{
    background-image: url('./public/img/icn_resume-saved.png');
}
#btnUndo span{
    background-image: url('./public/img/icn_undo.png');
}
#btnRedo span{
    background-image: url('./public/img/icn_redo.png');
}
#btnReset span{
    background-image: url('./public/img/icn_reset.png');
}
#btnReveal span{
    background-image: url('./public/img/icn_reveal.png');
}
#btnCheck span{
    background-image: url('./public/img/icn_check_eye.png');
}
#btnSolution span{
    background-image: url('./public/img/icn_solution.png');
}

#topInfoBox{
    overflow: hidden;
}
#topInfoBox span#puzzleInfo{
    font: normal 10px/12px Arial;
}
#topInfoBox span#puzzleTimer{
    font: bold 13px/12px Arial;
}
.timerBox{
    float: right;
    margin-right: 100px;
}
#btnOffTimer{
    border: 1px solid #000;
    background: #fff;
    margin-left: 5px;
    width: 48px;
}
#btnPause{
    float: right;
    border: 1px solid #000;
    background: #fff;
}
#btnPause span{
    background: no-repeat left center url('./public/img/icn_pause.png');
    display: block;
    padding-left: 25px;
}
#btnPause:hover span{
    background: no-repeat left center url('./public/img/icn_play.png');
}

#bottomInfoBox{
    overflow: hidden;
}
.autoNotesBox{
    float: left;
}
.autoNotesBox > span{
    font: bold 13px/12px Arial;
    margin-right: 5px;
}
.autoNotesBox > button{
    border: 1px solid #000;
    background: #fff;
}
.autoNotesBox > button:hover,
.autoNotesBox > button.active{
    background-color: beige;
}
.savePrintBox{
    float: right;
}
.savePrintBox > button{
    border: 1px solid #000;
    background: #fff;
}
.savePrintBox > button > span{
    display: block;
    padding-right: 25px;
}
#btnSave > span{
    background: no-repeat right center url('./public/img/icn_save.png');
}
#btnPrint > span{
    background: no-repeat right center url('./public/img/icn_print.png');
}


#puzzleContainer {
    display: table;
    width: 480px;
    height: 480px;
    border: 4px solid #000;
}
.puzzleRow{
    display: table-row;
}
.puzzleItem {
    display: table-cell;
    position: relative;
    background-color: #ffffff;
    float: left;
    border: solid 1px grey;
    cursor: pointer;
    width: 158px;
    height: 158px;
}
.pulseGreen{
    background-color: #b3ffb3 !important;
}
.pulseRed{
    background-color: #ffb3b3 !important;
}

.withValue .itemNotes{
    display: none !important;
}

.puzzleContainer4 .puzzleItem{
    width: 118px;
    height: 118px;
}
.puzzleContainer5 .puzzleItem{
    width: 94px;
    height: 94px;
}
.puzzleContainer6 .puzzleItem{
    width: 78px;
    height: 78px;
}
.puzzleContainer7 .puzzleItem{
    width: 66.5px;
    height: 66.5px;
}
.puzzleContainer8 .puzzleItem{
    width: 58px;
    height: 58px;
}
.puzzleContainer9 .puzzleItem{
    width: 51.5px;
    height: 51.5px;
}


.puzzleItem:hover{
    background-color: #b3b3ff;
}

.puzzleItem.active {
    background-color: #ffffb3;
}

.itemValue {
    display: block;
    font: 700 55px Arial;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -15px;
}
.itemResult{
    margin-left: 20px;
}
.itemResult,
.itemSymbol{
    font: 400 28px/40px Arial;
}
.itemNotes{
    display: block;
    font: 500 20px Arial;
    position: absolute;
    right: 30px;
    top: 60%;
}

/*.puzzleContainer4 .puzzleItem .itemResult,*/
/*.puzzleContainer4 .puzzleItem .itemSymbol{*/
    /*font: 400 28px/40px Arial;*/
/*}*/
.puzzleContainer5 .puzzleItem .itemResult,
.puzzleContainer5 .puzzleItem .itemSymbol{
    font: 400 24px/35px Arial;
}
.puzzleContainer6 .puzzleItem .itemResult,
.puzzleContainer6 .puzzleItem .itemSymbol{
    font: 400 22px/30px Arial;
}
.puzzleContainer7 .puzzleItem .itemResult,
.puzzleContainer7 .puzzleItem .itemSymbol{
    font: 400 20px/25px Arial;
}
.puzzleContainer8 .puzzleItem .itemResult,
.puzzleContainer8 .puzzleItem .itemSymbol{
    font: 400 17px/23px Arial;
}
.puzzleContainer9 .puzzleItem .itemResult,
.puzzleContainer9 .puzzleItem .itemSymbol{
    font: 400 15px/20px Arial;
}

.puzzleContainer4 .puzzleItem .itemResult{
    margin-left: 15px;
}
.puzzleContainer5 .puzzleItem .itemResult{
    margin-left: 10px;
}
.puzzleContainer6 .puzzleItem .itemResult,
.puzzleContainer7 .puzzleItem .itemResult,
.puzzleContainer8 .puzzleItem .itemResult,
.puzzleContainer9 .puzzleItem .itemResult{
    margin-left: 5px;
}

.puzzleContainer5 .puzzleItem .itemNotes{
    font-size: 17px;
    right: 10px;
}
.puzzleContainer6 .puzzleItem .itemNotes{
    font-size: 13px;
    right: 10px;
}
.puzzleContainer7 .puzzleItem .itemNotes,
.puzzleContainer8 .puzzleItem .itemNotes,
.puzzleContainer9 .puzzleItem .itemNotes{
    font-size: 14px;
    right: 5px;
    top: 40%;
    text-align: right;
}
.puzzleContainer9 .puzzleItem .itemNotes{
    font-size: 11px;
}

.puzzleContainer6 .puzzleItem .itemValue,
.puzzleContainer7 .puzzleItem .itemValue{
    font-size: 35px;
    margin-top: -19px;
    margin-left: -11px;
}
.puzzleContainer8 .puzzleItem .itemValue,
.puzzleContainer9 .puzzleItem .itemValue{
    font-size: 27px;
    margin-top: -16px;
    margin-left: -7px;
}
.puzzleContainer9 .puzzleItem .itemValue{
    margin-top: -13px;
    margin-left: -10px;
}



.puzzleRow .bottomLineBorder {
    border-bottom: 1px solid #000000;
    box-shadow: inset 0 -4px 0 #000000;
}

.puzzleRow .rightLineBorder {
    border-right: 1px solid #000000;
    box-shadow: inset -4px 0 0 #000000;
}
.puzzleRow .rightLineBorder.bottomLineBorder{
    border: 1px solid #000000;
    box-shadow: inset -4px -4px 0 #000000;
}

#testCircle {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: none;
}
.ltlCrcl {
    text-align: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    color: white;
    box-shadow: 0 0 5px blue;
    font: bold 18px/30px Arial;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.ltlCrcl img{
    display: inline-block;
    margin-top: 2px;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.ltlCrcl:hover{
    height: 36px;
    width: 36px;
    font: bold 20px/35px Arial;
}
.ltlCrcl:hover img{
    margin-top: 5px;
}
.ltlCrcl[data-id="cX"],
.ltlCrcl[data-id="cC"]{
    background-color: #fff;
}


#onSolution{
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-left: -150px;
    margin-top: -50px;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow:  0 0 10px #000;
    box-shadow:  0 0 10px #000;
    text-align: center;
}
#onSolution .closeButton{
    position: absolute;
    right: -12px;
    top: -12px;
    width: 24px;
    height: 24px;
    font: 600 20px/16px "Comic Sans MS", cursive, sans-serif;
    border-radius: 50%;
    background: #2141a9;
    color: #ccc;
    cursor: pointer;
}
#onSolution > span{
    display: block;
    font: 400 30px/30px Arial;
    margin-top: 10px;
    color: #2141a9;
}
#onSolution button{
    margin-top: 20px;
    background: #2142a9;
    padding: 5px 10px;
    border: none;
    color: #fff;
}
